# Shark Attacks

In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

### First look
- Vemos que hay información repetida como por ejemplo que el numero de caso y la fecha es lo mismo. pero si nos fijamos, antes del 2000 el número de caso  se establecia de otrra forma.

- La columna del nombre de la persona también es irrelevante en este caso en el que queremos obtener conclusiones genéricas. Con saber el sexo el suficiente.
- La columna del investigador tampoco es relevante si nuestro análisis se centra en estudiar los ataques.

In [8]:
data = pd.read_csv("../attacks.csv",encoding='ISO-8859-1')
data.head(6305)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0,NaN,NaN
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0,NaN,NaN
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0,NaN,NaN

**Una de las cosas que me parecen mas relevantes es que a partir de la fila 6302, todos los datos son NaN. Es decir, hay casi 20.000 datos en cada columna que no son un número. Vamos a deshacernos de esas filas.**

In [9]:
data = data[:6302]

# Missing values

#### Las 24 columnas que hay son:

In [10]:
print(data.columns)

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

**Vamos a estudiar el numero de valores nulos en esas columnas.**

In [11]:
# Mostramos columnas es las que es número de valores NaN es mayor que cero.
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

Case Number                  1
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

**Como vemos, las columnas 'unnamed' no aportan nada en absoluto, son nulas enteras. Otras columnas donde hay muchos 
valores nulos es la de la hora del ataque, pero me parece importante dejar esa columna, ás tarde la arreglaremos.
Columnas que vamos a eliminar:**
* Unnamed: no aportan nada.
* Year: información repetida en 'date'.
* Case Number: no relevante para el estudio.
* Investigator of Source: no relevante para el estudio.
* Name: no relevante para el estudio.
* pdf: no relevante para el estudio.
* href:no relevante para el estudio.
* href formula: no relevante para el estudio.
* Case Number.1', 'Case Number.2': repetidas y no relevantes.
* 'original order': no relevante para el estudio.

In [12]:
drop_cols = ['Unnamed: 22', 'Unnamed: 23', 'Year', 'Case Number', 'Investigator or Source', 'Name', 
             'pdf', 'href','href formula', 'Case Number.1', 'Case Number.2', 'original order' ]
data = data.drop(drop_cols, axis=1)
data.head()

,Date,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,25-Jun-2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,18-Jun-2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,09-Jun-2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
3,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,NaN,2 m shark
4,04-Jun-2018,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m"

In [14]:
# Columnas restantes con número de valores NaN mayor que cero.
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

Type              4
Country          50
Area            455
Location        540
Activity        544
Sex             565
Age            2831
Injury           28
Fatal (Y/N)     539
Time           3354
Species        2838
dtype: int64

**El número de datos NaN en age es similar al de especies, y el de location, activity y fatal también.¿Será por alguna razón?**

In [26]:
null_displ = data[(data['Species '].isnull()==True)]
null_displ

,Date,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
1,18-Jun-2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,09-Jun-2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
5,03-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,M,NaN,"No injury, board bitten",N,NaN,NaN
9,26-May-2018,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,M,12,Minor injury to foot,N,14h00,NaN
11,21-May-2018,Unprovoked,USA,South Carolina,"Isle of Palms, Charleston County",Boogie boarding,M,10,Injuries to lower right leg and foot,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,M,NaN,FATAL,Y,NaN,NaN
6298,Before 1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,M,NaN,FATAL,Y,NaN,NaN
6299,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,NaN,FATAL,Y,NaN,NaN
6300,1883-1889,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,M,NaN,FATAL,Y,NaN,NaN
6301,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN

* No encuentro relación entre la falta de datos en Fatal y otras columnas.
* Las filas en las que falta location coinciden con las que falta area, y no viceversa.
* Las filas en las que falta el sexo también falta la edad, y no viceversa.

**No he encontrado una relación muy significativa entre los datos**

# Filling NaN values